{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <!-- SHOP HERE BIOTCH -->

{% if aesthetic == "gifted kid burnout syndrome" %}
<h1>the COOP for a gifted kid with burnout syndrome</h1>
<h5>use promo code: ACADEMICVALIDATION for 10% off! </h5><br>
<div class="row">
    <div class="column" style="background-color:#C28D28;">
      <h2><a href="https://www.amazon.com/Famiworths-Instant-Capsule-Descaling-Reminder/dp/B0BV33R2C7/ref=sr_1_2_sspa?crid=VNOT3YZ3VB32&dib=eyJ2IjoiMSJ9.SOqPFnd7SRkmSOxgkGqaLFglEA2nj1Xb1L3wv1Hw8Vn5H3Onu3Qf72tSE8OzsUNEAL13HrU0-O7u_tZ3Tlrkn-1wws_8AkMXkGHKoIp_kvk3hc5K4k4UI1-hwIzIYu5B3QpruyKvlIJJO7KOtwyn5bFa4z9vqeu3yUwQL731Jn1Vq69KilV__QCyCE51SN9vsZUZo6U8-w_Mhym0-D9sA5Kh0O-1h23BykrpZMGOFGacm0u-i3lgo68zy31pFf6SklXua8cFatgxzhSIMkIcoEgHOp2g8AoBAp2TjWmyyQ8.2bxG858NalLUP3ch2PibjkV_mOaCXSqn6dpc_gNSh_I&dib_tag=se&keywords=coffee+make&qid=1713667931&sprefix=coffee+make%2Caps%2C81&sr=8-2-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1" target="_blank">coffee maker</a></h2>
      <p>for all those late nights in lamont</p>
      <a href="https://www.amazon.com/Famiworths-Instant-Capsule-Descaling-Reminder/dp/B0BV33R2C7/ref=sr_1_2_sspa?crid=VNOT3YZ3VB32&dib=eyJ2IjoiMSJ9.SOqPFnd7SRkmSOxgkGqaLFglEA2nj1Xb1L3wv1Hw8Vn5H3Onu3Qf72tSE8OzsUNEAL13HrU0-O7u_tZ3Tlrkn-1wws_8AkMXkGHKoIp_kvk3hc5K4k4UI1-hwIzIYu5B3QpruyKvlIJJO7KOtwyn5bFa4z9vqeu3yUwQL731Jn1Vq69KilV__QCyCE51SN9vsZUZo6U8-w_Mhym0-D9sA5Kh0O-1h23BykrpZMGOFGacm0u-i3lgo68zy31pFf6SklXua8cFatgxzhSIMkIcoEgHOp2g8AoBAp2TjWmyyQ8.2bxG858NalLUP3ch2PibjkV_mOaCXSqn6dpc_gNSh_I&dib_tag=se&keywords=coffee+make&qid=1713667931&sprefix=coffee+make%2Caps%2C81&sr=8-2-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1" target="_blank"><img src="/static/coffee.jpg" width="150" height="180"></a>
    </div>
    <div class="column" style="background-color:#E2A760 ;">
      <h2><a href="https://rb.gy/98tnz6" target="_blank">aromatherapy diffuser</a></h2>
      <p>to purge the smell of textbooks and tears</p>
      <a href="https://rb.gy/98tnz6" target="_blank"><img src="/static/diffuser.jpg" width="150" height="180"></a>
    </div>
    <div class="column" style="background-color:#F7EDC6;">
      <h2><a href="https://rb.gy/w7dxqg" target="_blank">retail therapy</a></h2>
      <p>pretending it's from your parents</p>
      <a href="https://rb.gy/w7dxqg" target="_blank"><img src="/static/therapy.jpg" width="300" height="180"></a>
    </div>
</div>


{% elif aesthetic == "wannabe indie girlie" %}
<h1>a collection for a wannabe indie girlie</h1><
<h5>use promo code: CHAILATTE for 10% off! </h5><br>
<div class="row">
    <div class="column" style="background-color:#B5A6E3;">
      <h2><a href="https://rb.gy/ellron" target="_blank">decor-ed converses</a></h2>
      <p>no WAY it's an EMBROIDERED FLOWER!!</p>
      <a href="https://rb.gy/ellron" target="_blank"><img src="/static/converse.jpg" width="200" height="180"></a>
    </div>
    <div class="column" style="background-color:#E3A6E1;">
      <h2><a href="https://rb.gy/6ee76q" target="_blank">bohemian bracelets</a></h2>
      <p>clickity clackity all in a stackity</p>
      <a href="https://rb.gy/6ee76q" target="_blank"><img src="/static/bracelet.jpg" width="180" height="180"></a>
    </div>
    <div class="column" style="background-color:#F2EEAB;">
      <h2><a href="https://shorturl.at/mFGSX" target="_blank">wall albums</a></h2>
      <p>oh you like []? name 5 of their songs</p>
      <a href="https://shorturl.at/mFGSX" target="_blank"><img src="/static/cds.jpg" width="185" height="180"></a>
    </div>
</div>

{% elif aesthetic == "victorian era child" %}
<h1>a stall for victorian era child</h1>
<h5>use promo code: YELLOWFEVER for 10% off! </h5><br>
<div class="row">
    <div class="column" style="background-color:#F3E6E0;">
      <h2><a href="https://shorturl.at/qLVX1" target="_blank">laurie's blouse</a></h2>
      <p>...i’ve loved you ever since i’ve known you, Jo.</p>
      <a href="https://shorturl.at/qLVX1" target="_blank"><img src="/static/laurie.jpg" width="180" height="190"></a>
    </div>
    <div class="column" style="background-color:#E6F3D2;">
      <h2><a href="https://shorturl.at/bnQY6" target="_blank">vitamins</a></h2>
      <p>a strong wind would end a victorian child (you)</p>
      <a href="https://shorturl.at/bnQY6" target="_blank"><img src="/static/vitamins.jpg" width="180" height="180"></a>
    </div>
    <div class="column" style="background-color:#D4D8D4;">
      <h2><a href="https://shorturl.at/bmuDV" target="_blank">victorian literature</a></h2>
      <p>mine dear goodness, thou hasn't read bronte?</p>
      <a href="https://shorturl.at/bmuDV" target="_blank"><img src="/static/bronte.jpg" width="150" height="180"></a>
    </div>
</div>

{% elif aesthetic == "gentrified cottagecore fairy" %}
<h1>a boutique for a gentrified cottage fairy</h1>
<h5>use promo code: MUSHROOMMANIA for 10% off! </h5><br>
<div class="row">
    <div class="column" style="background-color:#C3EBD6;">
      <h2><a href="https://shorturl.at/xIQ35" target="_blank">fairy dress</a></h2>
      <p>to beguile a knight as you flee down a castle hallway</p>
      <a href="https://shorturl.at/xIQ35" target="_blank"><img src="/static/fairydress.jpg" width="120" height="180"></a>
    </div>
    <div class="column" style="background-color:#D3B295;">
      <h2><a href="https://shorturl.at/iNVZ4" target="_blank">woodland stickers</a></h2>
      <p>but seriously, what is it with you and mushrooms?</p>
      <a href="https://shorturl.at/iNVZ4" target="_blank"><img src="/static/stickers.jpg" width="200" height="180"></a>
    </div>
    <div class="column" style="background-color:#F19A90;">
      <h2><a href="https://shorturl.at/msuER" target="_blank">picnic set</a></h2>
      <p>sit in boston commons and block out the cars</p>
      <a href="https://shorturl.at/msuER" target="_blank"><img src="/static/picnic.jpg" width="180" height="180"></a>
    </div>
</div>

{% else %}
<p>wow! you figured out a way to break my website. well done! :p </p>
{% endif %}

{% endblock %}
